.logo {
width: 25%;
padding-top: 30px;
}

.selfie {
width: 40%;
border-radius: 100%;
}


.container {
    display: grid;
    max-width: 90%;
    position: relative;
    margin: auto;
    grid-gap: 15px;
    grid-template-areas: "logo about"
                         "foto text" ;
    grid-template-rows: 20% 80%;
    grid-template-columns: 2fr 3fr; 
}

.image-container {
    grid-area: foto;
    margin: auto;
}
.logo-container {
    grid-area: logo;
    margin: left;
}
.logo {
    width: 270px;
    }
    
.selfie {
    border-radius: 100%;
    width: 350px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
header {
    grid-area: about;
}
.short-story {
    grid-area: text;
    background-color:DarkSeaGreen ;
    opacity: 0.8;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    font-family: 'Bitter';
    font-size: 46px ; 
    letter-spacing: 2px; 
    color: black;
    opacity: 1;
    padding: 20px;
    padding-bottom: 0px;
    margin: 15px;
}


h5{
    font-family: 'Rokkitt';
    font-size: 18px ;  
    letter-spacing: 3px;
    color: black;
    opacity: 1;
    word-spacing: 3px;
    padding: 25px;
    padding-top: 0px;
    margin: 0px;
}

